<html lang="en">
<head>
    <title>Bureau Settings</title>
    <meta name="decorator" content="admin"/>
    <meta name="admin.active.section" content="admin_plugins_menu"/>
    <meta name="aui-page-panel" content="true"/>
    $webResourceManager.requireResource("ru.bureau.settings:test-setting")

</head>
<body>
<div class="content-body">
    <h2>Settings Entity</h2>
    <div id="bureau-settings-error-msg" style="display: none; margin-top: 10px; background: #ffecec; border: 1px solid #d00; padding: 10px; color: #b00; border-radius: 4px;">
        <span class="error-text"></span>
        <a href="#" class="error-close">✕</a>
    </div>
    <table id="settings-table"></table>
</div>
</body>
</html>